header {
  position: absolute;
  z-index: 7000;
  left: 0px;
  right: 0px;
  top: 0px;
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  a.logo {
    flex-shrink: 0;
    display: block;
    width: 300px;

    img {
      width: auto;
      height: 25px;
      margin-top: 10px;
    }
  }

  h1.title {
    text-align: center;
    font-size: 38px;
    line-height: 38px;
    margin: 4px 0 0 0;
    padding: 0;
    text-align: center;
    color: $gray-lighter;
  }

  ul.nav {
    width: 300px;
    flex-shrink: 0;
    float: right;
    font-size: 15px;
    letter-spacing: 0px;
    margin-top: 0px;

    li {
      list-style: none;
      text-align: right;
      padding: 0px;
    }

    a {
      padding: 5px 0;
      display: block;
    }

    a:focus {
      color: $gray-dark;
    }

    a, a:hover, a:active, a:focus {
      background: transparent;
    }

    a:hover, a:active, a:focus {
      text-decoration: underline;
    }

    a:hover {
    }

    a.active {
      text-decoration: none !important;
      cursor: default;
      color: $gray-light;
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    a.logo {
      img {
        height: 22px;
      }
    }

    h1.title {
      display: none;
    }
  }

  @media screen and (max-width: $screen-xs-max) {
    display: block;
    text-align: center;
    padding-top: 30px;

    a.logo {
      display: inline-block;
      margin-bottom: 20px;
    }

    ul.nav {
      width: auto;
      float: none;
      display: none;

      li {
        text-align: center;

        a {
          font-size: 14px;
          font-family: $font-family-base;
        }
      }
    }
  }
}
