.page {
  padding: 0 60px;

  @media (max-width: $screen-md-max) {
    padding: 0 50px;
  }

  @media (max-width: $screen-sm-max) {
    padding: 0 20px;
  }

  @media (max-width: $screen-xs-max) {
    padding: 0 20px;
  }

  &.main-page {
    padding-top: 240px;

    @media (max-width: $screen-md-max) {
      padding-top: 240px;
    }

    @media (max-width: $screen-sm-max) {
      padding-top: 240px;
    }

    @media (max-width: $screen-xs-max) {
      padding-top: 160px;
    }

    @media (max-width: 374px) {
      padding-top: 120px;
    }
  }

  &.sub-page {
    padding-top: 200px;

    @media (max-width: $screen-md-max) {
      padding-top: 240px;
    }

    @media (max-width: $screen-sm-max) {
      padding-top: 240px;
    }

    @media (max-width: $screen-xs-max) {
      padding-top: 160px;
    }

    @media (max-width: 374px) {
      padding-top: 120px;
    }
  }
}
