section.intro {
  .intro-content {
    margin-top: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    height: 800px;

    p.lead {
      position: absolute;
      left: 0px;
      bottom: 0px;
      padding: 70px 60px;
      color: #fff;
      font-size: 38px;
      letter-spacing: 2px;
      line-height: 48px;
      background: rgba(54, 54, 54, 0.65);
      width: 48%;
      margin: 0;

      @media (max-width: $screen-sm-max) {
        width: 54%;
        padding: 60px 40px;
        font-size: 30px;
        line-height: 42px;
      }
    }

    @media (max-width: $screen-sm-max) {
      background-position: top center;
      height: 600px;

      p.lead {
        width: 54%;
        padding: 60px 40px;
        font-size: 30px;
        line-height: 42px;
      }
    }

    @media (max-width: $screen-xs-max) {
      background-size: auto 300px;
      background-position: top center;
      height: auto;
      padding-top: 300px;

      p.lead {
        width: auto;
        background: $gray-dark;
        position: static;
        padding: 60px 40px;
        font-size: 24px;
        line-height: 36px;
      }
    }
  }
}



.search-wrapper {
  input {
    height: 70px;
    border-radius: 0px;
    border: 0px;
    width: 428px;

    margin: 0 auto;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.11);
    background: #efefef;
    text-align: center;
    font-family: 'GalanoGrotesque-SemiBold';
    transition: 0.2s all ease;
    &:focus,
    &:active {
      box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.18);
    }
    @media screen and (max-width: $screen-xs-max) {
      width: 100%;
    }
  }
}

.results {
  margin: 50px auto 0;
  font-size: 12px;
  width: 428px;
  @media screen and (max-width: $screen-xs-max) {
    width: 75%;
  }
  .result {
    margin: 20px 0;
    position: relative;

    &:hover {
      cursor: pointer;
      h3 {
        text-decoration: underline;
      }
    }
    p {
      font-size: 14px;
      line-height: 19px;
      color: $gray;
    } // highlight
    em {
      color: $meiko-durian;
    }

    a {
      border-bottom: 0;
      pointer-events: none;
    }

    aside {
      position: absolute;
      padding-right: 25px;
      padding-top: 3px;
      display: block;
      text-align: right;
      right: 100%;
      top: 0px;
      span {
        display: block;
      }
      @media screen and (max-width: $screen-sm-max) {
        text-align: left;
      }
    }

    .content {

      text-align: left;
    }
  }
}
