body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
  overflow-x: hidden;
  padding: 100px 0;

  @media screen and (max-width: $screen-xs-max) {
    padding: 20px;
  }
}

.content {
  max-width: 600px;
  position: relative;
  margin: 0 auto;
}
