h1, h2, h3, h4 {
  color: $gray-dark;
}

h1 {
  text-align: center;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: 8px;
  margin: 0px auto 20px;
  text-transform: uppercase;
  padding: 0px;
  width: 100%;

  @media screen and (max-width: $screen-md-max) {
  }

  @media screen and (max-width: $screen-sm-max) {
  }

  @media screen and (max-width: $screen-xs-max) {
  }

  @media screen and (max-width: 374px) {
  }
}

h2 {
  color: $gray-dark;
  font-size: 54px;
  line-height: 64px;
  letter-spacing: 1px;

  @media screen and (max-width: $screen-xs-max) {
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 1px;
  }
}

h3 {
  font-family: 'GalanoGrotesque-Medium';
  font-size: 18px;
  margin: 0 0 5px;
  padding: 0;
  line-height: 20px;
  color: $gray-darker;
}

h4 {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 25px;
  color: $gray-dark;
  padding: 0px;
  margin-bottom: 15px;

  @media screen and (max-width: $screen-xs-max) {
    font-size: 18px;
  }
}

p {
  margin-bottom: 20px;
  line-height: 1.2;
  color: $gray-dark;

  strong {
    font-family: $headings-font-family;
    font-weight: normal;
    letter-spacing: 1px;
  }

  small {
    font-size: 14px;
    line-height: 26px;
    display: inline-block;
  }

  &.hyphens {
    text-align: justify;
  }

  &.lead {
    margin-bottom: 36px;
    font-family: $headings-font-family;
    font-size: 24px;
    line-height: 1.9;
    letter-spacing: 1px;

    @media (max-width: $screen-xs-max) {
      font-size: 22px;
    }
  }
}

a {
  color: $gray-dark;
  text-decoration: none;
  transition: 0.2s all ease;

  &:hover {
    color: $gray-dark;
    text-decoration: none;
  }

  &:active, &:focus {
    color: $gray-dark;
    text-decoration: none;
  }
}

p a {
  color: $gray-dark;
  text-decoration: none;
  border-bottom: 4px solid $meiko-skin;

  &:hover {
    border-bottom-color: $meiko-femme;
  }

  &:active {
    border-bottom-color: $gray-dark;
  }
}

p.lead a {
  border-bottom-width: 6px;

  &:hover {
    border-bottom-width: 6px;
  }
}
