include ../mixins/header
include ../mixins/footer
extends ../layouts/main

block header
  +header('main', true)

block content
    .page.main-page
      section.intro
        h1.hyphens(data-hyphens-max='768')
          | Hacks,
          #root

block footer
  +footer('main', true)
