extends ../layouts/main

block header
  h1 Lait.fi

block content
  #root

block footer
  footer
    <small><a href="https://lait.fi">Lait.fi</a> -tietopankki sisältää Suomen lain säädökset sellaisina kuin ne on julkaistu säädöskokoelmassa.<br />Toteutettu <a href="https://meiko.fi" target="_blank">Meiko</a> Hacks -tapahtumassa 18. - 19.8.2017. <br />Lähde: <a target="_blank" href="http://finlex.fi">Finlex, säädökset alkuperäisinä</a></small>
